<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab2_AAM2107_Sudakov</title>
</head>
<body>
        <h5><div><p>1 - Add element</p>
            <p>2 - Change Element</p>
            <p>3 - Delete Element</p>
            <p>4 - Output Elements</p>
            <p>5 - Write in File</p>
            <p>6 - Read from File</p>
            <p>7 - Clear List</p></div></h5>
            <h5>{{ text }}</h5>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=1) }}
        </p>
        <p>{{ form.submit() }}</p>
</form>
</body>
</html>